<div class="f_outer" style="<%= (flash[:notice] || flash[:warning] || flash[:error]) ? nil:'display:none;' %>">
  <div class="f_center">
    <div class="f_middle">
      <div class="flash_background">
        <div id="flash_dialog" class="flash_window" style="display:none;">
          <h2>Fill out the form</h2>
          <div class="content">
          </div>
        </div>
        <div id="flash_confirm" class="flash_window" style="display:none;">
          <h2>Confirmation</h2>
          <div class="content">
          </div>
          <div class="actions">
              <%= link_to 'Tak', '',:class=>"_confirm ui_button" %>
              <%= link_to 'Nie', '',:class=>"_close ui_button" %>
          </div>
        </div>
        <div id="flash_messages" class="flash_window">
          <% if flash[:notice] || flash[:warning] || flash[:error] %>
              <% if flash[:notice] %>
                <h2>Alert</h2>
              <% end %>
              <% if flash[:warning] %>
              <% end %>
              <% if flash[:error] %>
              <% end %>
          <% end %>
          <div class="content">
            <%=raw flash[:notice] %>
          </div>
          <div class="actions">
              <%= link_to 'OK', '',:class=>"_close ui_button" %>
          </div>
        </div>
        <div id="flash_editor" class="flash_window" style="display:none;">
          <span class="_close">&#215;</span>
          <h2>Insert image</h2>
          <div class="content">
            <div>
              <span><strong>On the Web</strong></span>
              <span style="height:26px;line-height:26px;" class="small_font"> (paste the url of the photo)</span>
              <%= render 'shared/remoteform' %>
            </div>
            <div class="sep_dotted"></div>
            <div>
              <span><strong>From you computer</strong></span>
              <span style="height:26px;line-height:26px;" class="small_font"> (format: .jpg, .gif, .png and no larger than 4mb)</span>
              <div id="fileuploader"></div>
              <%#= render 'attaches/form' %>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>